nav{
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
}
ul li{
    display: flex;
    gap:5px;
}
a{
    color: inherit;
    text-decoration: none;
    gap:5px;
    padding: 5px;
}
.cart-icon img{
    width:65px;
    height:65px;
}
.cart-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
    position: relative;
    top: -18px;
    max-height: 75px;
}
.cart-icon h2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:50px;
    color:red;
}
.logo img{
    width:150px;
    height:40px;
    margin-left: 5px;
}
.routes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}